---
import PageLayout from "@/layouts/Base.astro";
export const prerender = true;

const meta = {
	description: "仙人掌主题",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">真诚换真诚</h1>

	<div class="prose prose-base prose-cactus max-w-none">
		<p>
			华尔街分析师精选出来的最直接影响市场的“情报”
		</p>
		<p>
			每天更新：来自彭博社、华尔街日报、路透社、金融时报、巴伦周刊、纽约时报、经济学人、哈弗商业评论、CNBC等国际主流财经媒体的付费文章。（周末或者美国的节假日休息除外）
		</p>
		<p>
			光是路透社的新闻，订阅一周就要150元，这里一年才189元
		</p>
		<hr />
		<p>
			欢迎有能力的朋友给我打赏，付费用户请加微信备注。
		</p>
		<div class="grid grid-cols-3 gap-4">
			<img src="/assets/images/w1.jpg" alt="收款二维码1" />
			<img src="/assets/images/w2.jpg" alt="收款二维码2" />
			<img src="/assets/images/w3.jpg" alt="收款二维码3" />
		</div>
		<p>
			只要愿意亲自花一点时间去追溯信息源，一层一层往下挖，去读、去看最原始的材料，就已经领先了至少 99% 的人。
		</p>
	</div>
</PageLayout>
